# Configuration file

entitiesalwaysinfernal {
    B:AS_EntityGolem=false
    B:EntityAshen=false
    B:EntityBabySpider=false
    B:EntityBarako=false
    B:EntityBarakoaya=false
    B:EntityBlueSlime=false
    B:EntityBrainSlime=false
    B:EntityBrainyZombie=false
    B:EntityCaveSpider=false
    B:EntityCreeper=false
    B:EntityCultistKnight=false
    B:EntityCultistPortalLesser=false
    B:EntityCursedArmor=false
    B:EntityCyclops=false
    B:EntityDweller=false
    B:EntityElderGuardian=false
    B:EntityEnchantedBook=false
    B:EntityEnderman=false
    B:EntityEvilWizard=false
    B:EntityFestiveCreeper=false
    B:EntityFlameSpewer=false
    B:EntityFrostmaw=false
    B:EntityGoblin=false
    B:EntityGorgon=false
    B:EntityHarpy=false
    B:EntityHauntedTool=false
    B:EntityMotherSpider=false
    B:EntityPech=false
    B:EntityPirate=false
    B:EntityRocketCreeper=false
    B:EntitySilverfish=false
    B:EntitySiren=false
    B:EntitySkeleton=false
    B:EntitySkeletonWarrior=false
    B:EntitySlime=false
    B:EntitySpider=false
    B:EntityStymphalianBird=false
    B:EntitySupportCreeper=false
    B:EntityTarSlime=false
    B:EntityTroll=false
    B:EntityTrollager=false
    B:EntityVex=false
    B:EntityWisp=false
    B:EntityWitch=false
    B:EntityWroughtnaut=false
    B:EntityZombie=false
    B:EntityZombieVillager=false
    B:MoCEntityCaveOgre=false
    B:MoCEntityFireOgre=false
    B:MoCEntityFlameWraith=false
    B:MoCEntityGreenOgre=false
    B:MoCEntityHellRat=false
    B:MoCEntityHorseMob=false
    B:MoCEntityManticore=false
    B:MoCEntityMiniGolem=false
    B:MoCEntityRat=false
    B:MoCEntityScorpion=false
    B:MoCEntitySilverSkeleton=false
    B:MoCEntityWerewolf=false
    B:MoCEntityWraith=false
}


entitybasehealth {
    D:AS_EntityGolem=250.0
    D:EntityAshen=20.0
    D:EntityBabySpider=8.0
    D:EntityBlueSlime=4.0
    D:EntityCreeper=20.0
    D:EntityCultistPortalLesser=100.02517700195312
    D:EntityCursedArmor=1.0
    D:EntityEnchantedBook=20.0
    D:EntityEnderman=40.0
    D:EntityEvilWizard=30.0
    D:EntityFestiveCreeper=20.614776611328125
    D:EntityFlameSpewer=20.0
    D:EntityGoblin=20.0
    D:EntityHauntedTool=5.900000095367432
    D:EntityMotherSpider=30.0
    D:EntityPirate=20.0
    D:EntitySiren=50.0
    D:EntitySkeleton=20.0
    D:EntitySkeletonWarrior=25.0
    D:EntitySpider=16.0
    D:EntitySupportCreeper=20.0
    D:EntityTarSlime=4.0
    D:EntityTroll=50.0
    D:EntityTrollager=52.07691192626953
    D:EntityWitch=26.0
    D:EntityWroughtnaut=40.014495849609375
    D:EntityZombie=20.0
    D:EntityZombieVillager=20.0
    D:MoCEntityCaveOgre=50.0
    D:MoCEntityFireOgre=35.0
    D:MoCEntityFlameWraith=15.0
    D:MoCEntityGreenOgre=35.59053421020508
    D:MoCEntityHorseMob=30.0
    D:MoCEntityManticore=40.65338134765625
    D:MoCEntityMiniGolem=15.0
    D:MoCEntityRat=10.0
    D:MoCEntitySilverSkeleton=25.0
    D:MoCEntityWerewolf=40.0
    D:MoCEntityWraith=10.0
}


general {
    I:AntiMobFarmCheckInterval=30
    B:AntiMobfarmingEnabled=true
    B:"MM_1UP enabled"=true
    B:"MM_Alchemist enabled"=true
    B:"MM_Berserk enabled"=true
    B:"MM_Blastoff enabled"=true
    B:"MM_Bulwark enabled"=true
    B:"MM_Choke enabled"=true
    B:"MM_Cloaking enabled"=true
    B:"MM_Darkness enabled"=true
    B:"MM_Ender enabled"=true
    B:"MM_Exhaust enabled"=true
    B:"MM_Fiery enabled"=true
    B:"MM_Ghastly enabled"=true
    B:"MM_Gravity enabled"=true
    B:"MM_Lifesteal enabled"=true
    B:"MM_Ninja enabled"=true
    B:"MM_Poisonous enabled"=true
    B:"MM_Quicksand enabled"=true
    B:"MM_Regen enabled"=true
    B:"MM_Rust enabled"=true
    B:"MM_Sapper enabled"=true
    B:"MM_Sprint enabled"=true
    B:"MM_Sticky enabled"=true
    B:"MM_Storm enabled"=true
    B:"MM_Vengeance enabled"=true
    B:"MM_Weakness enabled"=true
    B:"MM_Webber enabled"=true
    B:"MM_Wither enabled"=true

    # List of DimensionIDs where InfernalMobs will NEVER spawn
    S:dimensionIDBlackList=

    # Disables the ingame Health and Name overlay
    B:disableGUIoverlay=false

    # List of equally likely to drop Items for Elites, seperated by commas, syntax: ID-meta-stackSize-stackSizeRandomizer, everything but ID is optional, see changelog
    S:droppedItemIDsElite=iron_shovel,iron_pickaxe,iron_axe,iron_sword,iron_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,iron_helmet,iron_chestplate,iron_leggings,iron_boots,cookie-0-6

    # List of equally likely to drop Items for Infernals, seperated by commas, syntax: ID-meta-stackSize-stackSizeRandomizer, everything but ID is optional, see changelog
    S:droppedItemIDsInfernal=diamond-0-3,diamond_sword,diamond_shovel,diamond_pickaxe,diamond_axe,diamond_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,diamond_helmet,diamond_chestplate,diamond_leggings,diamond_boots,ender_pearl,enchanted_book

    # List of equally likely to drop Items for Ultras, seperated by commas, syntax: ID-meta-stackSize-stackSizeRandomizer, everything but ID is optional, see changelog
    S:droppedItemIDsUltra=bow,iron_hoe,chainmail_helmet,chainmail_chestplate,chainmail_leggings,chainmail_boots,iron_helmet,iron_chestplate,iron_leggings,iron_boots,golden_helmet,golden_chestplate,golden_leggings,golden_boots,golden_apple,blaze_powder-0-3,enchanted_book

    # One in THIS many Mobs will become atleast rare
    I:eliteRarity=15

    # One in THIS many already ultra Mobs will become infernal
    I:infernoRarity=7

    # highest amount of damage an Infernal Mob or reflecting Mod will do in a single strike
    D:maxOneShotDamage=10.0
    D:mobFarmDamageThreshold=150.0

    # Multiplier applied ontop of all of the modified Mobs health
    S:mobHealthFactor=1.0

    # One in THIS many already rare Mobs will become atleast ultra
    I:ultraRarity=7

    # Use Entity class names instead of ingame Entity names for the config
    B:useSimpleEntityClassnames=true
}


permittedentities {
    B:AS_EntityGolem=true
    B:EntityAshen=true
    B:EntityBabySpider=true
    B:EntityBarako=true
    B:EntityBarakoaya=true
    B:EntityBlueSlime=true
    B:EntityBrainSlime=true
    B:EntityBrainyZombie=true
    B:EntityCaveSpider=true
    B:EntityCreeper=true
    B:EntityCultistKnight=true
    B:EntityCultistPortalLesser=true
    B:EntityCursedArmor=true
    B:EntityCyclops=true
    B:EntityDweller=true
    B:EntityElderGuardian=true
    B:EntityEnchantedBook=true
    B:EntityEnderman=true
    B:EntityEvilWizard=true
    B:EntityFestiveCreeper=true
    B:EntityFlameSpewer=true
    B:EntityFrostmaw=true
    B:EntityGoblin=true
    B:EntityGorgon=true
    B:EntityHarpy=true
    B:EntityHauntedTool=true
    B:EntityMotherSpider=true
    B:EntityPech=true
    B:EntityPirate=true
    B:EntityRocketCreeper=true
    B:EntitySilverfish=true
    B:EntitySiren=true
    B:EntitySkeleton=true
    B:EntitySkeletonWarrior=true
    B:EntitySlime=true
    B:EntitySpider=true
    B:EntityStymphalianBird=true
    B:EntitySupportCreeper=true
    B:EntityTarSlime=true
    B:EntityTroll=true
    B:EntityTrollager=true
    B:EntityVex=true
    B:EntityWisp=true
    B:EntityWitch=true
    B:EntityWroughtnaut=true
    B:EntityZombie=true
    B:EntityZombieVillager=true
    B:MoCEntityCaveOgre=true
    B:MoCEntityFireOgre=true
    B:MoCEntityFlameWraith=true
    B:MoCEntityGreenOgre=true
    B:MoCEntityHellRat=true
    B:MoCEntityHorseMob=true
    B:MoCEntityManticore=true
    B:MoCEntityMiniGolem=true
    B:MoCEntityRat=true
    B:MoCEntityScorpion=true
    B:MoCEntitySilverSkeleton=true
    B:MoCEntityWerewolf=true
    B:MoCEntityWraith=true
}


